<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <div  align="center">
        <div>
            <h1>Add page</h1>
            <a href="/crud"> View</a>
        </div>
        <form action="/crud/insertRecord" method="post">
           <table border="1">
            <tr>
                <td>Name : </td>
                <td><input type="text" name="name"> </td>
            </tr>
            <tr>
                <td>phone : </td>
                <td><input type="text" name="phone"> </td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"> </td>
            </tr>
           </table>
        </form>
       </div>
</body>
</html>